.bg-orange{
    background-color: #ffb900;
}

.font-size{
    font-size: x-large;
}

.font-set{
    text-decoration: none solid rgb(68, 68, 68);
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    font-family: "Impact", "Charcoal", sans-serif;
}

.menu-button{
    transition: all 400ms;
}

.menu-button:hover{
    background-color: rgb(176, 105, 9);

}

.img-size{
    width: 45px;
}

